<div class="jumbotron">
    <h1>Web Scraper API Platform</h1>
    <p class="lead">Swagger documentation is provided below.</p>
    <p><a href="/swagger/ui/index" class="btn btn-primary btn-lg">Open Documentation and Test Harness &raquo;</a></p>
</div>
<div class="row">
    <!-- TODO: Add content. -->
</div>
